        <section class="logos">
          <div class="max-content-width flx">
            <img class="springer-logo" src="/img/logo-springer.png" alt="Springer LNCS Logo" />
          </div>
        </section>
