<div class="full-screen max-content-width fade-in">
  <h2 class="sub-section-headline">
    Contact
  </h2>
  <p>All questions about submissions should be emailed to a member of the organizing committee.</p>
</div>
