<main class="flex-center-column">
  <div class="flex-center-column fade-in temp-landing">
    <h1>SSR 2020</h1>
    <p>Full website coming soon.</p>
    <a class="temp-landing-link flex-center-column" href="  /docs/SSR_2020_CFP_v1.pdf" target="_blank">Call for papers</a>
  </div>
</main>
