<main class="flex-center-column landing">
  <div class="flex-center-column temp-landing">
    <h1 class="landing-conference-ssr">SSR 2020</h1>
    <h2 class="landing-conference-name">Security Standardisation Research Conference 2020</h2>
    <a class="temp-landing-link flex-center-column" href="/call-for-papers" target="_blank">Call for papers</a>
  </div>
</main>
<div class="content flex-center-content">
  <h2 class="section-headline observed">{{ getString "conference-name-full" }}</h2>
  <h3 class="landing-sub-head observed">The 6th Conference on Security Standards Research will be held virtually.</h3>
  <h4 class="date text-bg observed">{{ getString "date" }}</h4>
  <section class="copy-wrapper">
    {{#each (getLandingStrings)}}
      <p class="copy-block {{ blockClasses }} observed txt-light">{{{ this.copyBlock }}}</p>
    {{/each}}
  </section>
</div>
