<div class="full-screen max-content-width fade-in">
  <div class="form-wrapper">
		<h2>Registration for SSR 2020 is now closed.</h2>
	</div>
  <p>All participants at SSR 2020 are required to adhere to the following <a href="https://www.mozilla.org/about/governance/policies/participation/" target="_blank" rel="noopener noreferrer" class="nested-link">code of conduct.</a> Organisers will enforce this code throughout the event. We are committed to creating a safe environment for everybody.</p>
  <p>Mozilla wants to ensure that all participants feel welcome. If you have any accessibility queries about the conference, please contact the <a href="/contact" class="nested-link">General Chair</a>.</p>

</div>
