<div class="full-screen max-content-width fade-in">
  <h2 class="sub-section-headline">
    Registration
  </h2>
  <p>All those wishing to participate will be required to formally register. Details of the registration process will be made available later. A token registration fee may be charged.</p>
  <p>All participants at SSR 2020 are required to adhere to the following <a href="https://www.mozilla.org/about/governance/policies/participation/" target="_blank" rel="noopener noreferrer" class="nested-link">code of conduct.</a> Organisers will enforce this code throughout the event. We are committed to creating a safe environment for everybody.</p>
</div>
