<div class="full-screen max-content-width fade-in">
  <h2 class="sub-section-headline">
    Registration
  </h2>
  <p>All those wishing to participate will be required to formally register. Details of the registration process will be made available later. A token registration fee may be charged.</p>
  <p>All participants at SSR 2020 are required to adhere to the following <a href="https://www.mozilla.org/about/governance/policies/participation/" target="_blank" rel="noopener noreferrer" class="nested-link">code of conduct.</a> Organisers will enforce this code throughout the event. We are committed to creating a safe environment for everybody.</p>
  <p>Mozilla wants to ensure that all participants feel welcome. If you have any accessibility queries about the conference, please contact the <a href="/contact" class="nested-link">General Chair</a>.</p>
  <div class="form-wrapper">
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="https://lesleynorton.us2.list-manage.com/subscribe/post?u=05de150ed1ae5c0bebf9e8264&amp;id=9e0a3b882f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Register for SSR 2020</h2>
            <div class="indicates-required">
              <span class="asterisk">*</span> indicates required
            </div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-AFFIL">Affiliation </label>
              <input type="text" value="" name="AFFIL" class="" id="mce-AFFIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_05de150ed1ae5c0bebf9e8264_9e0a3b882f" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Register" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='AFFIL';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
  </div>

</div>
