* {
  box-sizing: border-box;
}

.show-mobile {
  display: none;
}
.ssr-link {
  text-decoration: none;
}

body {
  transition: opacity 0.2s ease;
}

.opacity-0 {
  transition: all 0.2s ease;
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Zilla-Slab";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/ZillaSlab/ZillaSlab-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Zilla-Slab";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ZillaSlab/ZillaSlab-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Zilla-Slab";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/ZillaSlab/ZillaSlab-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Zilla-Slab";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/ZillaSlab/ZillaSlab-Medium.woff2") format("woff2");
}

.full-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.landing {
  min-height: 50vh;
}


:root {
  --backgroundColor: #f6f6f4;
  --containerPadding: 6rem;
  --contentPadding: 2rem;
  --h1Size: calc(90px + 6vh);
  --maxCopyWidth: 800px;
  --metropolis: "Metropolis", sans-serif;
  --mozBlue: #595cf3;
  --mozGrey:  #e7e5e2;
  --mozDarkGrey: #959595;
  --mozLightYellow: #fff44f;
  --mozNeonBlue: #00ffff;
  --mozWarmRed: #ff4f5e;
  --sansSerif: -apple-system, sans-serif;
  --textColor: rgba(0, 0, 0, 1);
  --textColorSemiTransparent: rgba(0, 0, 0, 0.05);
  --textStrokeColor: rgba(0, 0, 0, 0.314);
  --textBlack: rgba(0, 0, 0, 1);
  --textWhite: rgba(255, 255, 255, .9);
  --zillaSlab: "Zilla-Slab", monospace, -apple-system, blinkmacsystefont, roboto, oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  font-size: 17px;
  color: var(--textColor);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
  transition: all 0.3s ease;
  -webkit-appearance: none;
}

.bold {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: .5rem;
}

main {
  height: 50%;
  padding: 0 2vh;
  position: relative;
  margin: auto 2rem;
}

.landing::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--mozGrey);
  /* background: url("/img/avatars.svg"); */
  background-repeat: repeat;;
  background-position: center center;
  background-size: 20%;
  background-attachment: fixed;
  display: flex;
  content: "";
  opacity: .9;
}
/* 
.landing::before {
  position: absolute;
  content: "";
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: radial-gradient(#1c1c1c42, #000000b2);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .9;
} */

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease 0.2s forwards;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* new stuff */

.sub-page,
.coming-soon {
  background-color: rgba(255, 255, 255, 1);
  min-height: 50vh;
}

.sub-section-headline {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  font-family: var(--zillaSlab);
}

.event-date {
  justify-content: flex-end;
  align-items: flex-end;
}

.inset {
  padding-left: 16px;
  padding-right: 16px;

}

.inset-hover {
  padding: 8px 16px;
}

.important-dates-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.important-dates {
  max-width: 1000px !important;
}

.important-date-list-item {
  border: 1px solid transparent;
  flex: 1 1 45%;
  margin: .5rem;
  background: #f2f3fe;
}

.important-date-list-item:hover {
  border: 1px solid var(--mozBlue)
}

.google-calendar-link {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--textBlack);
  align-items: flex-start;
}

.event-title {
  font-family: var(--zillaSlab);
  margin-bottom: 4px;
  font-size: 24px;
}

.event-date {
  font-size: 16px;
  margin-bottom: 4px;
}

.date-callout {
  padding: 1rem;
  background-color: var(--mozBlue);
  color: rgba(255, 255, 255, 1);
}

.google-calendar-link-text {
  color: rgba(0, 0, 0, .7);
  font-size: 15px;
  display: flex;
  align-items: center;
}

.google-calendar-link-text::after {
  content: "";
  display: inline-block;
  background: url(/img/open-new-tab.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-left: 3px;
  width: 15px;
  min-height: 18px;
}

footer {
  display: flex;
  background: var(--textBlack);
  padding: 1rem 2rem;
  margin: auto auto 0 auto;
  width: 100%;
}
.auto {
  margin: auto;
}

.sub-main {
  min-height: 30vh;
  height: auto;
  background: var(--mozGrey);
}

.bg-shaded {
  background-color: rgba(0, 0, 0, .03);
}
.content {
  margin: auto;
  padding: var(--containerPadding) var(--contentPadding);
  width: 100%;
  max-width: var(--maxCopyWidth);
}

.container {
  padding-top: var(--containerPadding);
  padding-bottom: var(--containerPadding);
}

.content-left {
  margin: auto auto auto 0;
}

.max-content-width {
  margin: auto;
  width: 100%;
  padding-left: var(--contentPadding);
  padding-right: var(--contentPadding);
  max-width: var(--maxCopyWidth);
}

.copy-wrapper {
  padding-top: calc(var(--containerPadding) / 2);
}

.copy-block {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 20px;
  line-height: 2;
}

.copy-block-small {
  font-size: 18px;
}

.section-headline {
  font-size: 2rem;
  font-family: var(--zillaSlab);
}

.landing-sub-head {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: .75rem;
}

.section-sub-head {
  font-family: var(--zillaSlab);
  font-size: 1.75rem;
  margin-bottom: .75rem;
}

.block-section-sub-head {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--zillaSlab);
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

.flx {
  display: flex;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-row {
  display: flex;
  flex-direction: row;
}

header  {
  /* top: -60px; */
  left: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}

.slide-in-header {
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: fixed;
  transition: all 0.3s ease;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  margin: auto;
}

.slide-in-header .header-content {
  padding: .5rem 2rem;
}

.slide-in-header .header-navigation {
  align-items: center;
}

.top-header {
  background-color: var(--mozBlue);
  color: var(--textWhite);
  text-align: center;
  padding: .5rem 2rem;
  display: none;
}

.header-navigation {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.header-link {
  padding: 4px 8px;
  font-size: 16px;
  text-decoration: none;
  color: var(--textBlack);
  font-weight: 500;
  margin-left: 1rem;
  position: relative;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
}

.header-link:hover,
.header-link:focus {
  background: var(--mozGrey);
  outline: none;
}

.active-link,
.active-link:hover,
.active-link:focus,
.show-children .link-has-children,
.list-item-has-children:hover .link-has-children.active,
.link-has-children:hover,
.list-item-has-children:hover .link-has-children {
  color: var(--textWhite);
  background: var(--textBlack);
}

.menu-down {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 16px;
  margin-left: 2px;
}

button,
.list-item-has-children:hover button {
  transition: all 0.2s ease;
}

.list-item-has-children {
  position: relative;
}

.link-has-children {
  outline: none;
  border: none;
}

.list-item-has-children:hover .menu-down path,
.link-has-children.active-link .menu-down path,
.link-has-children.active-link:hover .menu-down path {
  fill: var(--textWhite);
}

.link-has-children.active-link:hover {
  background-color: var(--textBlack);
  color: var(--textWhite);
}

.link-children {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--textBlack);
  padding: 1rem 0;
  left: 1rem;
  z-index: 10;
}

.child-link {
  border-radius: 0;
  padding: 12px 5rem 8px 1rem;
  margin: auto;
  z-index: 1;
  transition: none;
  color: var(--textWhite);
}

.child-link:hover,
.child-link:focus {
  background: rgba(255, 255, 255, .1)
}

.list-item-has-children:hover .link-children,
.show-children .link-children {
  visibility: visible;
  pointer-events: all;
  transition: all 0.2s ease;
}

.ssr-2020 {
  line-height: 1;
  font-size: 48px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, .85);
  font-weight: bolder;
  margin-bottom: 4px;
}

.header-date,
.conference-name-small {
  font-size: 16px;
  color: rgba(0, 0, 0, .7);
}

.conference-name-small {
  margin-bottom: 2px;
}

.header-date {
  margin: 4px 0;
}

.wide-content,
.topics-list-wrapper {
  max-width: var(--maxCopyWidth);
}

.topics-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem;
}

.topic-wrapper {
  list-style-type: none;
  flex: 0 1 43.333%;
  padding: 0 2rem .75rem 0;
  font-size: 14px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sub-nav {
  margin: auto auto 2rem auto;
}

.sub-nav-link {
  color: var(--textBlack);
  text-decoration: none;
  font-weight: bolder;
  padding-right: 1rem;
  font-size: 1rem;
  margin-bottom: .5rem;
  border-right: 2px solid rgba(0, 0, 0, 0);
}

.nested-link,
.sub-nav-link:hover,
.sub-nav-link:focus {
  text-decoration: underline;
}

.nested-link {
  color: inherit;
  padding: 2px 4px;
  margin-left: -4px;
  background-color: rgba(0, 0, 0, 0);
}

.nested-link:hover,
.nested-link:focus {
  background-color: var(--mozGrey);;
}

.sub-nav-link.active {
  border-right: 2px solid var(--textBlack);
}

.sub-nav-link:first-of-type.active {
  border-right: 2px solid var(--mozWarmRed);
}

.sub-nav-link:nth-of-type(2).active {
  border-right: 2px solid var(--mozNeonBlue);
}

.sub-nav-link:nth-of-type(3).active {
  border-right: 2px solid var(--mozLightYellow);
}

.observed {
  opacity: 0;
  transition: all 0.9s ease;
}

.text-center {
  text-align: center;
}

section#committees,
section#topics,
section#call-for-papers {
  padding-top: 4rem;
}

.committee-list {
  margin-bottom: 3rem;
}

.committee-list-item {
  margin-bottom: 1rem;
  font-size: 16px;
  justify-content: space-between;
}

.organizing-committee-member-title {
  font-weight: bolder;
}

.content-left {
  justify-content: flex-start;
  margin: 0 auto auto auto;
  /* position: fixed; */
  position: absolute;
  padding: 4rem 2rem;
  top: 0;
  transition: all 0.3s ease;
}

.fix-nav {
  position: fixed;
  top: 100px;
  transition: all 0.3s ease;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 200px;
  padding-bottom: 6rem;
}

.content-right .max-content-width,
.content-right .content {
  margin: auto auto auto 0;
}

.paper-content {
  position: relative;
  justify-content: space-between;
  margin: auto;
}

.block-before::before {
  width: 2rem;
  height: 6px;
  content: "";
  background: black;
  display: block;
  margin-bottom: 5rem;
}

/* end new stuff */

h1 {
  line-height: 1;
  font-size: var(--h1Size);
  /* opacity: 0.8; */
  margin-bottom: 0;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--textStrokeColor);
}

h1,
p {
  margin-top: 0;
}

p {
  font-weight: 300;
  margin-bottom: calc(36px + 1vh);
  opacity: 0.8;
  line-height: 1.5;
}

.temp-landing-link {
  border: 2px solid var(--textColor);
  background-color: rgba(0, 0, 0, 0);
  color: var(--textColor);
  opacity: 0.9;
  border-radius: 8px;
  height: 48px;
  text-decoration: none;
  padding: 0 3vh;
  font-family: "Metropolis", sans-serif;
}

.temp-landing-link:hover,
.temp-landing-link:focus {
  border: 2px solid rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.7);
  background-color: var(--textColorSemiTransparent);
}

.temp-landing-link:active {
  background-color: rgba(0, 0, 0, 0.07);
}

.temp-landing {
  border-radius: max(1vh, 1vw);
  text-align: center;
  min-height: 50vh;
  margin: auto;
  z-index: 3;
}

.landing-conference-ssr {
  margin-bottom: 8px;
}

.landing-conference-name {
  margin-bottom: 24px;
  font-family: var(--zillaSlab);
}

.brought-to-you-by-wrapper {
  color: rgba(255, 255, 255, 1);
  bottom: 1rem;
  font-size: calc(6px + 1vh);
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
  flex-wrap: nowrap;
}

.date {
  font-family: var(--sansSerif);
  letter-spacing: 1px;
  font-size: 16px;
}

.coming-soon,
.conference-name {
  font-family: var(--zillaSlab);
  font-size: 19px;
  line-height: 1.3;
}

.conference-name {
  font-weight: 600;
  margin-bottom: 8px;
}

.coming-soon {
  font-weight: 300;
}

svg {
  width: calc(90px + 1vh);
  max-width: 130px;
  display: block;
  margin-bottom: 6px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-bg {
  background-color: var(--textBlack);
  color: var(--textWhite);
  display: inline-block;
  padding: 2px 4px;
}

.mobile .slide-in-header,
.slide-in-header {
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.mobile .slide-in-header,
.fix-header .slide-in-header {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.mobile-menu-button {
  z-index: 5;
  position: relative;
  width: 49px;
  margin: 0;
  display: flex;
  display: inline-flex;
  border: none;
  transform: scale(.6);
  display: none;
}

.mobile-menu-button:focus,
.mobile-menu-button:active {
  outline: none;
  opacity: .7;
}

@media screen and (max-width: 600px) {
  :root {
    --h1Size: calc(60px + 6vw);
  }

  svg {
    max-width: 100px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --h1Size: calc(48px + 6vw);
  }

  .coming-soon,
  .conference-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 950px) {
  .topic-wrapper {
    flex: 1 1 49.9999%;
  }
}

@media screen and (max-width: 900px) {

  main {
    margin: 50px 0;
  }

  footer {
    min-height: 100px;
  }

  .show-mobile {
    display: block;
    transition: all 0.1s ease;
  }

  .top-header {
    display: none !important;
    transition: all 0.1s ease;
  }

  .fix-header .top-header {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.1s ease;
    visibility: hidden;
  }
  .content-left {
    display: none;
  }

  .content-right {
    margin: auto;
    min-height: 100vh;
  }

  .mobile-menu-button {
    display: inline-flex;
  }

  .slide-in-header .header-navigation {
    align-items: flex-end;
    position: absolute;
    visibility: hidden;
    flex-direction: column;
    pointer-events: none;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    left: 0;
    right: 0;
    padding: 3rem 0;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .show-mobile-menu .header-navigation {
    opacity: 1;
    transition: all 0.3s ease;
  }

  .desktop-menu {
    display: none;
  }

  .slide-in-header a {
    pointer-events: none;
  }

  .slide-in-header .ssr-link {
    pointer-events: all;
  }

  .header-navigation li {
    margin: auto 2rem 1rem auto;
  }

  .branding {
    z-index: 5;
  }

  .link-children {
    position: inherit;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }

  .link-has-children {
    outline: none;
    border: none;
    margin: auto 0 1rem auto;
    width: 100%;
    justify-content: flex-end;
    display: none;
  }

  .header-link {
    margin-left: 0;
  }

  .child-link {
    color: var(--textBlack);
  }

  .list-item-has-children {
    margin: auto 2rem 0 auto !important;
  }

  .menu-down {
    display: none;
  }

  .child-link {
    margin: auto 1rem 1rem auto;
    padding: 0;
    justify-content: flex-end;
    padding: 4px;
  }

  .show-mobile-menu .child-link,
  .show-mobile-menu .header-link {
    pointer-events: all;
  }

  .child-link:hover,
  .child-link:focus {
    background: rgba(0, 0, 0, .05);
  }

  .link-children {
    visibility: visible;
  }

  .show-mobile-menu .header-navigation {
    visibility: visible;
    opacity: 1;
    top: 0;
    padding-top: 120px;
    pointer-events: all;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 700px) {
  .landing-conference-ssr {
    font-size: 90px;
  }

  .landing-conference-name {
    max-width: 320px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --containerPadding: 3rem;
  }

  .important-date-list-item {
    flex: 1 1 100%;
  }

  .full-screen {
    margin-top: 8rem;
  }

  p,
  .copy-block,
  .committee-list-item {
    font-size: 16px;
  }

  .committee-list-item {
    flex-direction: column;
  }

  .committee-name {
    font-weight: 500;
    display: block;
  }

  .topic-wrapper {
    flex: 1 1 100%;
  }

  .organizing-committee-member-title,
  .committee-name {
    margin-bottom: 4px;
  }

  .comma {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* Icon 3 */

.mobile-menu-button {
  background: transparent;
}

.mobile-menu-button span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #000000;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.mobile-menu-button span:nth-child(1) {
  top: 0px;
}

.mobile-menu-button span:nth-child(2),.mobile-menu-button span:nth-child(3) {
  top: 18px;
}

.mobile-menu-button span:nth-child(4) {
  top: 36px;
}

.mobile-menu-button.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-menu-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu-button.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
