* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Zilla-Slab";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/ZillaSlab/ZillaSlab-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Zilla-Slab";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/ZillaSlab/ZillaSlab-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Zilla-Slab";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ZillaSlab/ZillaSlab-Bold.woff2") format("woff2");
}

:root {
  --h1Size: calc(90px + min(6vw, 6vh));
  --textColor: rgba(0, 0, 0, 1);
  --textColorSemiTransparent: rgba(0, 0, 0, 0.05);
  --textStrokeColor: rgba(0, 0, 0, 0.314);
  --backgroundColor: #f6f6f4;
  --zillaSlab: "Zilla-Slab", monospace, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  font-family: sans-serif;
  font-size: 17px;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
}

embed {
  min-height: 100vh;
  min-width: 100vw;
}

a,
a:hover,
a:focus,
a:active {
  transition: all 0.2;
  -webkit-appearance: none;
}

main {
  height: 100%;
  padding: 0 2vh;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease 0.3s forwards;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  line-height: 1;
  font-size: var(--h1Size);
  opacity: .8;
  margin-bottom: calc(8px + min(1vh, 1vw));
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--textStrokeColor);
}

h1,
p {
  margin-top: 0;
}

p {
  font-weight: 300;
  font-size: calc(12px + min(1vh, 1vw));
  margin-bottom: calc(36px + min(1vh, 1vw));
  opacity: .8;
  line-height: 1.5;
}

.temp-landing-link {
  border: 2px solid var(--textColor);
  background-color: rgba(0, 0, 0, 0);
  color: var(--textColor);
  opacity: .9;
  border-radius: 8px;
  height: 48px;
  text-decoration: none;
  padding: 0 3vh;
  font-family: "Metropolis", sans-serif;
}

.temp-landing-link:hover,
.temp-landing-link:focus {
  border: 2px solid rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.7);
  background-color: var(--textColorSemiTransparent);
}

.temp-landing-link:active {
  background-color: rgba(0, 0, 0, 0.07);
}

.temp-landing {
  border-radius: max(1vh, 1vw);
  text-align: center;
  position: absolute;
  margin: auto;
}

.brought-to-you-by-wrapper {
  bottom: 1rem;
  font-size: calc(6px + min(1vh, 1vw));
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto auto min(4vh, 4vw) auto;
  flex-wrap: nowrap;
}

.date {
  font-family: var(--zillaSlab);
  display: block;
  opacity: .8;
  margin-bottom: calc(36px + min(1vh, 1vw));
}

.coming-soon,
.conference-name {
  font-family: var(--zillaSlab);
  font-size: 19px;
  line-height: 1.3;
}

.conference-name {
  font-weight: 600;
  margin-bottom: 8px;
}

.coming-soon {
  font-weight: 300;
}

svg {
  width: calc(90px + min(1vh, 1vw));
  display: block;
  margin-bottom: 6px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@media screen and (max-width: 600px) {
  :root {
    --h1Size: calc(50px + min(6vw, 6vh));
  }

  .conference-name {
    max-width: 300px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --textColor: rgba(255, 255, 255, .8);
    --textColorSemiTransparent: rgba(255, 255, 255, .1);
    --textStrokeColor: rgba(255, 255, 255, .3);
    --backgroundColor: #303135;
  }

  .temp-landing-link:hover {
    color: var(--textColor);
  }

  h1,
  p {
    opacity: 1;
  }

  svg path {
    fill: #ffffff;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
