<main class="sub-main accepted-papers"></main>
<div class="content fade-in">
 <h2 class="sub-section-headline">
   Accepted Papers
 </h2>
  <p class="copy-block observed">Details coming soon.</p>
  {{> logos }}
</div>
