<div class="full-screen max-content-width fade-in">
  <h2 class="sub-section-headline">
    Accepted Papers
  </h2>
  <p>Authors of accepted papers will be notified on or by October 1, 2020 and will appear here the following week.</p>
  {{> logos }}
</div>
