<main class="sub-main accepted-papers"></main>
<div class="content fade-in">
<ul class="copy-block">
  {{#each (getAcceptedPapers)}}
   <li id="{{ target }}" class="accepted-paper title-block">
    <span class="paper-title zilla-slab">{{ paperTitle }}</span>
     <span class="paper-authors">{{ paperAuthors }}</span>
    {{#each abstract}}
     <p class="copy-block paper-abstract">{{ this }}</p>
    {{/each}}
   </li>
  {{/each}}
 </ul>
  {{> logos }}
</div>
