<main class="sub-main paper-submission"></main>
<div class="content fade-in">
  <h2 class="sub-section-headline">
    Paper Submission
  </h2>
  <p class="copy-block observed">All those wishing to participate will be required to formally register. Please see the registration page.</p>
  {{#each (getAuthorInstruction)}}
  <p class="copy-block observed">{{{ this }}}</p>
  {{/each}}
  {{> logos }}
</div>
